.row {
  display: block;
  column-count: 3;
  border-style: solid;
  border-color: #45A29E
}

.row p {
  padding-left: 15px;

}

.row h2 {
  text-decoration: underline;
  text-decoration-color: #45A29E;
  padding-left: 15px;
  padding-top: 15px;
}

.column-a {
  margin-top: -15px;
}


body {
  margin-left: 15px;
  margin-top: 15px;
}

p {
  font-size: 20px;
}

.container-fluid {
  background-color: #1F2833;
  border-style: solid;
  border-color: #45A29E;
}

.container {
  background-color: #1F2833;
  color: white;

}
